<div class="container">
 <div class="row">
  <!-- First row -->
  <div class="col-12 col-sm-12 col-md-3 col-lg-2">
   <!-- Left column (First row) -->
   <%= link_to "Compose", new_email_path, class: "btn btn-danger btn-primary btn-block" %>
  </div>
  <div class="col-12 col-sm-12 col-md-9 col-lg-10">
   <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-secondary">&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i></button>

   </div>

  </div>
  <!-- END: first row -->
  <hr>
  <div class="row">
    <!-- Sencond row -->
    <div class="col-12 col-sm-12 col-md-3 col-lg-2">
      <!-- LEFT COLUMN Menu (Sencond row) -->
      <ul class="list-group">
        <!-- Menu -->

        <li class="list-group-item justify-content-between active">
          Inbox
        </li>
        <li class="list-group-item justify-content-between">
          Important
          <span class="badge badge-default badge-pill">2</span>
        </li>
        <li class="list-group-item justify-content-between">
          Sent
          <span class="badge badge-default badge-pill">1</span>
        </li>
        <li class="list-group-item justify-content-between">
          Spam
          <span class="badge badge-default badge-pill">1</span>
        </li>
      </ul>
      <!-- End left menu -->
    </div>
    <!-- END: Left column (Second row) -->
    <div class="col-12 col-sm-12 col-md-9 col-lg-10">
      <!-- Tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fa fa-inbox"></i>&nbsp;&nbsp;Inbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-users"></i>&nbsp;&nbsp;Social</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-tags"></i>&nbsp;&nbsp;Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Updates</a>
        </li>
      </ul>
      <!-- END: Tabs -->
      <% @emails.each do |email| %>
      <div class="list-group <%= email.id %>">

<<<<<<< HEAD
        <li class="list-group-item d-flex justify-content-start">
=======
    <li class="list-group-item justify-content-between active">
     Inbox
    </li>
    <li class="list-group-item justify-content-between">
     Important
     <span class="badge badge-default badge-pill"><%= @emails.count %></span>
    </li>
    <li class="list-group-item justify-content-between">
     Message lu
     <span class="badge badge-default badge-pill"><%= @read.count %></span>
    </li>
    <li class="list-group-item justify-content-between">
     Msg non-lu
     <span class="badge badge-default badge-pill"><%= @unread.count %></span>
    </li>
   </ul>
   <!-- End left menu -->
  </div>
  <!-- END: Left column (Second row) -->
  <div class="col-12 col-sm-12 col-md-9 col-lg-10">
   <!-- Tabs -->
   <ul class="nav nav-tabs">
    <li class="nav-item">
     <a class="nav-link active" href="#"><i class="fa fa-inbox"></i>&nbsp;&nbsp;Inbox</a>
    </li>
   </ul>
   <!-- END: Tabs -->
  <% @emails.each do |email| %>
   <div class="list-group <%= email.id %>">
>>>>>>> master

          &nbsp;&nbsp;&nbsp;&nbsp;
          <span class="name fullname pt-2">
            <p style="text-decoration: none; color: black;" class="font-weight-bold text-dark <%=email.id%>"><%= link_to email.object, email_path(email), remote: true%></p>
          </span>
          <span id="<%= email.id %>"></span>

          <span class="ml-auto p-2">
            <a href="<%= edit_email_path(email.id) %>"><i class="fa fa-paperclip"></i></a>
            <span class="badge badge-default badge-pill"><%= email.created_at.strftime('%D') %></span>
          </span>

        </li>


      </div>
      <% end %>
    </div>

  </div>
  <!-- END: Second row -->
</div>
<!-- END: container -->
